<section id="post" class="container p-4">
<mat-form-field>
    <input class="search" matInput (keyup)="onChange($event.target.value)" placeholder="Search">
  </mat-form-field>
  <div class="options">
  <button class="buttons" style="align-content: flex-end">create new</button>
</div>

  <mat-paginator [pageSizeOptions]="[10, 15, 20, 25]" showFirstLastButtons></mat-paginator>

  <mat-table  [dataSource]="tableData" matSort  matSortDisableClear class="mat-elevation-z8">

    <ng-container matColumnDef="1">
      <mat-header-cell *matHeaderCellDef (click)="orderTable()" mat-sort-header >Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="2">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="orderTable()" disableClear> Document </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.document}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="3">
      <mat-header-cell *matHeaderCellDef (click)="orderTable()" mat-sort-header> Document Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.documentType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="4">
      <mat-header-cell *matHeaderCellDef (click)="orderTable()" mat-sort-header> Country </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef > Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
         <mat-icon  matTooltip="Info about the Person" class="icon" (click)="openInfo(element)">info</mat-icon>
          <mat-icon matTooltip="Edit Person" class="icon" (click)="openEdit(element)">edit</mat-icon>
          <mat-icon matTooltip="Delete Person" class="icon delete" (click)="delete(element)">delete_forever</mat-icon>
        </mat-cell>
     </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
