<section class="container">
    <div class="d-flex flex-row justify-content-center">
        <p class="mat-display-1 mb-3">List People</p>
      </div>
  <!-- Loading -->
  <div class="row" *ngIf="isLoading">
    <div class="col">
      <div class="d-flex justify-content-center pb-3 pt-3">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
  <!-- Options -->
  <div class="row align-items-center justify-content-center" *ngIf="!isLoading">
    <!-- Search input -->
    <div class="col-sm col-12">
      <mat-form-field style="width: 100%;">
        <mat-icon matPrefix class="search">search</mat-icon>
        <input matInput (keyup)="filterTableData($event.target.value)" placeholder="Search" />
      </mat-form-field>
    </div>
    <!-- Create button -->
    <div class="col-auto pb-sm-0 pb-3">
      <button mat-raised-button color="primary" (click)="openCreateDialog()">Create Person</button>
    </div>
  </div>
  <!-- People table -->
  <div class="row" [hidden]="isLoading">
    <div class="col">
      <div style="overflow-x: auto;">
        <mat-paginator [pageSizeOptions]="[10, 15, 20, 25]" showFirstLastButtons></mat-paginator>
        <mat-table [dataSource]="peopleDataSource" matSort matSortDisableClear style="min-width: 750px;">
          <!-- Name column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="title-table">Name</mat-header-cell>
            <mat-cell *matCellDef="let person" class="table">{{person.name}} {{person.lastName}}</mat-cell>
          </ng-container>
          <!-- Document column -->
          <ng-container matColumnDef="document">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="title-table">Document</mat-header-cell>
            <mat-cell *matCellDef="let person"class="table">{{person.document}}</mat-cell>
          </ng-container>
          <!-- Document type column -->
          <ng-container matColumnDef="documentType">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="title-table">Document Type</mat-header-cell>
            <mat-cell *matCellDef="let person"class="table">{{person.documentType}}</mat-cell>
          </ng-container>
          <!-- Country column -->
          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="title-table">Country</mat-header-cell>
            <mat-cell *matCellDef="let person"class="table">{{person.country}}</mat-cell>
          </ng-container>
          <!-- Actions column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="title-table">Actions</mat-header-cell>
            <mat-cell *matCellDef="let person"class="table">
              <mat-icon matTooltip="Show info" class="action-icon info table" (click)="openInspectDialog(person.id)">info</mat-icon>
              <mat-icon matTooltip="Edit" class="action-icon edit table" (click)="openEditDialog(person.id)">edit</mat-icon>
              <mat-icon matTooltip="Delete" class="action-icon delete table" (click)="promptDeletePerson(person.id, person.name, person.lastName)">delete</mat-icon>
              <mat-icon matTooltip="Show tree" class="action-icon tree table" [routerLink]="['/people/' + person.id + '/tree']">supervised_user_circle</mat-icon>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</section>
