.action-icon {
  background: white;

  margin: 2px;
  border-radius: 5px;

  &.delete {
    color: #fb7a7a;
  }
  &.info{
    color:#75A2D9!important;
  }
  &.edit{
    color: #039BE5!important;
  }
}
.search{
  font-size: 18px;
  transform: translateY(3px);
}
.title-table{
  font-size: 18px;
  color:cornflowerblue;
  justify-content: center;
}
matt-cell,
matt-header-cell,
ng-container{
  display: flex !important;
  align-content: center;
  justify-content: center;
}
.table{
  justify-content: center;
}
