#divForm {
  display: flex;
  align-items: center;

  div {
    flex: 1 1 auto;
    text-align: center;
  }
}

@media (max-width: 770px) {
  #divForm {
    flex-direction: column;
  }
}

.container-position{
  position: relative;
 }

 .icons {
  display: inline;
  text-align: center;
}

.errorbox {
  margin: 0 0;
  padding: 0px;
  color: #d9534f;
}

.successbox {
  margin: 0 0;
  padding: 0px;
  color: #5cb85c;
}
.btn-sub {
  text-align: center;
}
.close-icons {
  position: absolute;
  right: 0%;
  top: -10px;
}
.mat-card{
  width: 212px;
}

.mat-form-field {
  width: auto;
}

@media (max-width: 770px) {
  .close-icons {
    right: -20px;
    top: -20px;
  }
}
