table {
  width: 100%;
}

.header {
  padding: 5px;
}

.filter {
  display: block;
}

.action-icon{
  background: white;
  margin: 2px;
  border-radius: 5px;

  &.edit{
    color: #039BE5!important;
  }

  &.delete {
    color: #fb7a7a!important;
  }
}


mat-form-field {
  width: 100%;
  left: 0px;
}

mat-header-cell,
mat-cell {
  justify-content: center;
}

.options {
  display: inline-flex;
  margin-left: 5%;
}

.buttons {
  margin-left: 6%;
  text-align: right;
  display: inline-block;
}

.headerTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.titles{
  font-size: 18px;
  color: cornflowerblue;
}


@media screen and (min-width: 300px) and (max-width: 770px) {
  .buttons {
    margin-left: 5%;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
  }

  .headerTable {
    flex-direction: column;
  }

  i.material-icons {
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    object-fit: contain;
    display: flex;
  }

  .clear-search{
    width: 200px;
  }

  .search-btn{
    font-size: 18px;
    transform:translateY(3px);
  }

}
