.cont1 {
  display: grid;
  grid-auto-columns: repeat(3, 1fr);
  grid-template-columns: 33% 34% 33%;
}

.but1 {
  grid-column: 1;

}

.but2 {
  grid-column: 2;

}

.but3 {
  grid-column: 3;

}

.attributes {
  font-weight: bold;
  font-size: 16px;
  margin-right: 25px;
}

.attributes2{
  font-weight: bold;
}

.elem2 {
  margin-left: 25px;
}

.mat-list-it {
  background-color: rgb(53, 185, 53);
  color: #fff;
}

.mat-edit-it {
  background-color: rgb(42, 92, 230);
  color: #fff;
}

.space {
  margin-left: 10px;
}
