mat-form-field{
  width: 400px;
}
mat-card-title{
  text-align: center;
  color: gray;
}
.close{
  display: flex!important;
  justify-content: flex-end!important;
  text-align: right!important;
  transform: translateY(-10px);
}
.mat-accent{
  color: white;
  background-color: red!important;
}
mat-card{
  width:500px;
  text-align: center;
}
mat-card-content{
  align-content: center;
}
mat-card-actions{
  justify-content: space-between;
}
.hide-scroll {
  overflow: hidden;
}
.viewport{
  overflow: auto;
}
.but2{
  margin-right: 11px !important;
}

