mat-form-field{
  width: 400px;
}
mat-card-title{
  text-align: center;
  color: gray;
}
mat-card{
  width:500px;
  text-align: center;
}
mat-card-content{
  align-content: center;
}
.hide-scroll {
  overflow: hidden;
}
.viewport{
  overflow: auto;
}
