<section class="mat-typography container p-2">
  <div class="row justify-content-between">
    <h4 class="kinshipTitle" mat-dialog-title>
      Kinships Details
    </h4>

    <button
      mat-icon-button
      mat-dialog-close
      aria-label="Example icon-button with a heart icon"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <main>
    <mat-dialog-content>
      <p>
        <label for="" style="font-size: 20px;">Details</label>
      </p>
      <p>
        <label for=""> <strong> Person Name: </strong></label>
        <label>
          &nbsp;&nbsp; {{ data[0].namePerson }} {{ data[0].lastNamePerson }}
        </label>
      </p>
      <p>
        <label for=""> <strong> Person Document: </strong></label>
        <label> &nbsp;&nbsp; {{ data[0].documentPerson }} </label>
      </p>
    </mat-dialog-content>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 25]"
      showFirstLastButtons
    ></mat-paginator>
    <mat-table
      [dataSource]="tableData"
      matSort
      matSortDisableClear
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="1">
        <mat-header-cell
          id="titular"
          *matHeaderCellDef
          (click)="orderTable()"
          mat-sort-header
          >Relative Name
        </mat-header-cell>
        <mat-cell class="colum-name" *matCellDef="let element">
          {{ element.nameRelative }} {{ element.lastNameRelative }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="2">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          (click)="orderTable()"
          disableClear
        >
          Relative Document
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.documentRelative }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="3" class="colum-country">
        <mat-header-cell
          class="colum-country"
          *matHeaderCellDef
          (click)="orderTable()"
          mat-sort-header
        >
          Kinship Type
        </mat-header-cell>
        <mat-cell class="colum-country" *matCellDef="let element">
          {{ element.kinshipType }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon matTooltip="Edit Kinship" class="icon">edit</mat-icon>
          <mat-icon matTooltip="Delete Kinship" class="icon delete"
            >delete_forever</mat-icon
          >
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </main>
</section>
