/* You can add global styles to this file, and also import other style files */
@font-face{font-family: Comfortaa; src: url('./fonts/Comfortaa-Regular.ttf')}
body{
  
  background-color: #C0DFED;
}
*{
  font-family: 'Raleway', sans-serif;
}

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: Comfortaa);
@include mat-core($custom-typography);

@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);
