<section class="container p-4">
  <div fxLayout="row" fxLayoutAlign="center center">
    <p class="mat-display-1">Create Kinship</p>
  </div>

  <div id ="divForm">
    <div class="px-2">
      <mat-card>
        <mat-card-subtitle>Person</mat-card-subtitle>
      </mat-card>
    </div>
    <div class="px-2">
      <mat-card>
        <mat-card-subtitle>Relative</mat-card-subtitle>
      </mat-card>
    </div>
    <div>
      <mat-form-field
       class="large-input">
        <mat-label>Kinship</mat-label>
        <mat-select>
          <mat-option value="Father">Father</mat-option>
          <mat-option value="Mother">Mother</mat-option>
          <mat-option value="Brother">Brother</mat-option>
          <mat-option value="Spouse">Spouse</mat-option>
          <mat-option value="Grandparent">Grandparent</mat-option>
          <mat-option value="Grandchild">Grandchild</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

</section>
