mat-card {
  background-color: #17a2b8dd;

  &:not(.empty-node) {
    min-width: 150px;
  }

  &.empty-node {
    background-color: #6c757ddd;
  }

  &.owner-node {
    background-color: #007bffdd;
  }

  .node-delete-button {
    bottom: 0;
    display: none;
    position: absolute;
    right: calc(50% - 20px);
  }

  &:hover {
    .node-delete-button {
      display: block;
    }
  }
}

.family-tree-level-0 {
  background: #ff408140;
}

.family-tree-level-1 {
  background: #f4433640;
}

.family-tree-level-2 {
  background: #007bff40;
}

.family-tree-wrapper {
  background-image: linear-gradient(#ffffff00, #c0dfed), url("./../../../img/tree-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 1250px;
  padding-bottom: 250px;
}

.zoom-buttons {
  position: absolute;
  right: 0;
  top: 0;
}
